<input type="text" id="num1" autofocus /> <br>
<input type="text" id="num2" /> <br>
<button onclick="getAdd()">Add</button>

<div id="result">
    Result will come here
</div>

<script>
//CW WAP to read 2 numbers and print addition
function getAdd() {
    x = parseInt(document.getElementById("num1").value)
    y = parseInt(document.getElementById("num2").value)   

    document.getElementById("result").innerHTML = `${x} + ${y} = ${x+y}`

}

</script>