<input type="text" value="5" id="num" />
<button onclick="getSqr()">Get Square</button>

<div id="result">
    This text will change after click event
</div>

<script>
function getSqr() {
    x = document.getElementById("num").value
    sqr = x * x
    console.log(`Square of ${x} is ${sqr}`)

    document.getElementById("result").innerHTML = `Square of ${x} is ${sqr}`
}

</script>
